<%= simple_form_for(@data_source, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :desc %>
    <%= f.input :startdate, :start_year => Date.today.year - 200, :end_year => Date.today.year %>
    <%= f.input :stil_active %>
    <%= f.input :enddate, :start_year => Date.today.year - 200, :end_year => Date.today.year, label: 'Enddate (if not active anymore)' %>
    <%= f.input :license %>
    <%= f.input :slug, label: "Slug (used as index for datasource)" %>
    <%= f.input :source_root_url %>
    <%= f.input :docker_image_location %>
    <%= f.input :schedule_cron %>
    <p>Please use a crontab like syntax for the schedule</p>
    <%= f.input :measurement_ids, collection: Measurement.all, input_html: { class: 'multipleSelect', multiple: true} %>
  <p>Measurement missung? <%= link_to 'Add Measurement', new_measurement_path, target: :_blank %></p>

  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>



<%= javascript_include_tag "jquery-multi-select" %>
<script type="text/javascript">
  $('.multipleSelect').multiSelect()
</script>